<!-- Employee home page when he or shee logins. -->
<style>
  .card-body {
    text-align: center;
  }

  body {
    background: #007bff;
    background: linear-gradient(
      to right,
      hsl(214, 100%, 45%, 0.6),
      hsl(204, 100%, 60%, 0.6)
    );
  }
</style>
<div class="container mt-4">
  <div class="row">
    <h1 class="text-dark">Welcome <%= employee.name %></h1>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-info animate__animated animate__fadeInLeft">
        <div class="card-body">
          <h5 class="card-title">Feedbacks Received</h5>
          <p class="card-text display-4"><%= feedbacksReceived %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-info animate__animated animate__fadeInUp">
        <div class="card-body">
          <h5 class="card-title">Feedbacks Given</h5>
          <p class="card-text display-4"><%= feedbacksGiven %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-info animate__animated animate__fadeInRight">
        <div class="card-body">
          <h5 class="card-title">Assigned Feedbacks</h5>
          <p class="card-text display-4"><%= assignedFeedbacks %></p>
        </div>
      </div>
    </div>
  </div>
</div>
